@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Play:wght@400;700&display=swap');
*{
    margin: 0;
    font-family: "Comic Neue", cursive;
    font-weight: 300;
    font-style: normal;
}
.box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    color: white;
    height: 40px;
}
.box2{
    display: flex;gap: 40px;
    align-items: center;
}
.box3{
    display: flex;gap: 20px; 
    align-items: center;
}
.box5{
    display: flex;gap: 5px;
}
.box4{
    display: none;
}
@media (max-width:510px) {
    .box4{
        display: block;
    }
    .box3{
        display: none;
    }
    .box5{
        display: none;
    }
    .box{
        display: flex;
        justify-content: space-between;
    }
    
    
}