@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Play:wght@400;700&display=swap');
*{
    margin: 0;
    font-family: "Comic Neue", cursive;
    font-weight: 300;
    font-style: normal;
}
.box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    color: white;
    height: 40px;
}
.box2{
    display: flex;gap: 40px;
    align-items: center;
}
.box3{
    display: flex;gap: 20px; 
    align-items: center;
}
.box5{
    display: flex;gap: 5px;
}
.box4{
    display: none;
}
.content5{
    width: 100%;
   background-color:rgba(21, 44, 57, 1);
   padding-bottom: 40px;
   padding-top: 40px;
}
.content{
    background-image: url(./Rectangle\ 7.png);
    width: 80%;
    margin: auto;
    height: 230px;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;gap: 40px;
    align-items: center;padding: 10px 40px;
}
.p1{
    font-size: 44px;
    font-weight: 800px;
}
.content3{
    
    width: 230px;
}
.button3{
    padding: 10px 40px;
    background-color: rgba(229, 54, 36, 1);
    color: white;
    border-radius: 20px;
    border: none;
    font-size: 20px;
    width: 300px;
}
.button{
    width: 100px;
    font-size: 18px;
    border-radius: 20px;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0);
    color: white;
}
.button2{
    width: 250px;
    font-size: 18px;
    border-radius: 20px;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0);
    color: white;
}
.remont{
    width: 80%;
    margin: auto;
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
}
.remont2{
    display: flex;gap: 50px;
    justify-content: space-around;
    align-items: center;
    margin-top: 60px;
}
.p2{
    text-align: center;
     margin: auto;
    font-size: 66px;
    width: 600px;
    margin-bottom: 20px;
}
.a1{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.yslugi{
    display: flex;
}
.yslugi3{
    background-color: rgba(71, 97, 120, 1);
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    padding: 10px 40px;
    color: white;
}
.p3{
    font-size: 32px;
    font-weight: 800px;
}
.klining{
    width: 80%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}
.obshi{
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    gap: 10px;
}
.vag{
    background-image: url(g1.png);
    width: 250px;
    height: 235px;
   
}
.vag2{
    background-image: url(g2.png);
    width: 250px;
    height: 235px;
   
}
.vag3{
    background-image: url(g3.png);
    width: 250px;
    height: 235px;
   
}
.vag4{
    background-image: url(g4.png);
    width: 250px;
    height: 235px;
   
}
.vag5{
    background-image: url(g5.png);
    width: 250px;
    height: 235px;
   
}
.vag6{
    background-image: url(g6.png);
    width: 250px;
    height: 235px;
   
}
.vag7{
    background-image: url(g7.png);
    width: 250px;
    height: 235px;
   
}
.vag8{
    background-image: url(g8.png);
    width: 250px;
    height: 235px;
   
}
.button5{
   background-color: rgba(255, 255, 255, 0);
   border: 1px solid white;
   border-radius: 20px;
   color: white;
   margin: 10px 20px;
}








@media (max-width:510px) {
    .box4{
        display: block;
    }
    .box3{
        display: none;
    }
    .box5{
        display: none;
    }
    .box{
        display: flex;
        justify-content: space-between;
    }
    .content{
        display: flex;
        flex-direction: column;
    }
    .p2{
        width: 320px;
        
        font-size: 40px;
       
    }
    .remont2{
        display: flex;
        flex-direction: column;
    }
    .content3{
        display:none;
    }
   .content{
    
    width: 75%;
   }
   .yslugi2{
    width: 385px;
    height: 244px;
   }
   .yslugi{
    display: flex;
    flex-direction: column;
   }
   .vag2{
    display: none;
   }
   .vag3{
    display: none;
   }
   .vag4{
    display: none;
   }
   .vag5{
    display: none;
   }
   .vag6{
    display: none;
   }
   .vag7{
    display: none;
   }
   .vag7{
    display: none;
   }
   .vag8{
    display: none;
   }
    
}